* {
    border: 0;
    margin: 0;
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.test {
    background-color: lightblue;
}

.amongUsButton {
    display: flex;
    padding-top: 0.15em;
    background-color: black;
    color: white;
    border: 0.1em solid white;
    border-radius: 10px;
    font-family: 'in_your_face_joffrey_medium';
    font-size: 4em;
    width: 200px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.amongUsButton:hover {
    border-color: #00ff00;
}

@font-face {
    font-family: 'in_your_face_joffrey_medium';
    src: url('joffrey-webfont.woff2') format('woff2'),
        url('joffrey-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'vcr_osd_monoregular';
    src: url('vcr_osd_mono_1.001-webfont.woff2') format('woff2'),
        url('vcr_osd_mono_1.001-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#titleRow {
    margin: 2em;
    display: flex;
    justify-content: center;
}

#titleRow img {
    max-width: 50%;
}

h1 {
    font-family: 'in_your_face_joffrey_medium';
    font-weight: normal;
    font-style: normal;
}

#muteButton {
    position: fixed;
    top: 2em;
    left: 2em;
    z-index: 2;
}

#muteButton img {
    max-width: 100px;
}

#titleImage {
    display: flex;
    justify-content: center;
}

#titleImage img {
    min-width: 300px;
}

.dummy {
    background-color: tan;
}

#contentRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#invited {
    display: flex;
    width: 100%;
    color: #fff;
    font-family: 'in_your_face_joffrey_medium';
    font-size: 4em;
    justify-content: center;
}

#info {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    color: white;
}

#infoText {
    display: flex;
    flex-direction: column;
    margin: 2em 0;
    font-family: "vcr_osd_monoregular";
    text-align: center;
    width: 550px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #000;
    font-size: 1.5em;
}

#infoText p {
    margin: 1em 0;
}

#discord {
    display: flex;
    justify-content: center;
}

#attendees {
    width: 100%;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.attendee {
    display: flex;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    margin: 1em;
    position: relative;
    color: white;
}

.attendee span {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size:2em;
    font-weight: bold;
}

.bean {
    margin: 10px 0 0 10px;
    height: 54px;
}


.thumbsup {
    margin: 10px 10px 0 0;
    max-height: 30px;
}


.beanDeclined {
    filter: brightness(50%);
}

.strokeme {
    
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  
.declined {
    color: gray;
    background-color: gray;
    border-radius: 10px;
    
}